@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: rgb(25, 49, 68);
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  z-index: 99;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("pic2.png") no-repeat;
  background-size: cover;
}

header h1 {
  color: white;
  font-size: 25px;
}

header .nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar a {
  position: relative;
  left: 10px;
  margin-left: 50px;
  text-decoration: none;
  color: white;
}

.nav-bar a::after {
  content: "";
  position: absolute;
  background: white;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  left: 0;
  bottom: -6px;
  transition: transform 0.5s;
  transform: scaleX(0);
}

.nav-bar a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-bar .btn-login-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 130px;
  height: 40px;
  margin-left: 50px;
  margin-right: 50px;
  background: transparent;
  font-size: 1.1em;
  border-radius: 6px;
  border: 2px solid #fff;
  color: white;
  font-weight: 400;
}

.nav-bar .btn-login-popup:hover {
  border: 2.5px solid #fff;
}

.wrapper {
  position: relative;
  height: 400px;
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #496583;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  overflow: hidden;
  transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.Pop-Up-Btn {
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper.active {
  height: 470px;
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper.active .form-box.register {
  transform: translateX(0);
  transition: transform 0.18s;
}

.wrapper .form-box.login {
  transition: transform 0.18s;
}

.wrapper .form-box.register {
  position: absolute;
  transform: translateX(400px);
  transition: none;
}


.wrapper .icon-close ion-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #496583;
  z-index:20;
}

.form-box.register label {
  font-size: 1em;
}

.input-box {
  position: relative;
}

.input-box input {
  padding: 20px 50px 20px 20px;
  margin: 10px;
  width: 100%;
  height: 45px;
  border-radius: 40px;
  background: transparent;
  margin: 10px 0;
  outline: none;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-10px);
  font-size: 20px;
  color: #496583;
}

.input-box ion-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-10px);
  font-size: 20px;
  color: #496583;
}

.form-box .remember-forgot {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 10px;
}

.remember-forgot label {
  display: flex;
  gap: 5px;
}

.remember-forgot a {
  color: #496583;
  text-decoration: none;
  font-size: 1em;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: #496583;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 17px;
  color: white;
  font-weight: 300;
}

.btn:hover {
  background-color: #c6caede3;
  color: #496583;
  border: 2px solid #496583;
}

.link {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  margin: 30px 10px 15px;
}

.link p a {
  color: #496583;
  text-decoration: none;
  font-weight: 600;
}

.link p a:hover {
  text-decoration: underline;
}
